.container {
    width: 200px;
    height: 200px;
}

/* Ocultar imágenes posteriores */
.container:hover ~ .container {
    /* opacity: 0;
    pointer-events: none;
    visibility: hidden; */
    display: none;
    /* position: absolute;
    top: -9999999%;
    left: -9999999%; */
}

.container:hover ~ .marco-imagenes {
    opacity: 1;
    pointer-events: none;
    visibility: hidden;
    display: none;
    transform: translateY(+100px);
    z-index: 100;
}

/* Restaurar al salir del hover */
.container:hover .container {
    opacity: 1;
    pointer-events: none;

}

.marco-imagenes {
    border: #3c3c3c solid 2px;
    width: 600px;
    height: 600px;
    display: flex;
    /* overflow: hidden; */
    margin: 20px auto;
    background: #b1f5c4;
    position: relative;
}
.primero {
    position: absolute;
    top: 0px;
    left: 0px;
}

.primero:hover {
    border-width: 5px;
    border-style: solid;
    border-color: red;
}

.segundo {
    position: absolute;
    top: 100px;
    left: 100px;
}

.segundo:hover {
    border-width: 5px;
    border-style: solid;
    border-color: red;
}

.tercero {
    position: absolute;
    top: 200px;
    left: 200px;
}
.tercero:hover {
    border-width: 5px;
    border-style: solid;
    border-color: red;
}

.cuarto {
    position: absolute;
    top: 300px;
    left: 300px;
}
.cuarto:hover {
    border-width: 5px;
    border-style: solid;
    border-color: red;
}

.quinto {
    position: absolute;
    top: 400px;
    left: 400px;
}
.quinto:hover {
    border-width: 5px;
    border-style: solid;
    border-color: red;
}