.Pantalla {
  font-family: 'Segoe UI', sans-serif;
  border: 2px solid #24943A;
  border-radius: 2px;
  background-color: #D4EED1;
  width: 49%;
  height: 40px;
  /* text-align: center; */
  justify-self: center;
  border-collapse: collapse;
  margin-top: 2px;
    font-size: 20px;
  font-weight: bold;
  padding: 5px;
}

.Calculadora td {
    cursor: pointer;
    transition: background 0.2s;
}

.Calculadora td:hover {
    background: #ffe082;
}


table.Calculadora {
  font-family: 'Segoe UI', sans-serif;
  border: 2px solid #24943A;
  background-color: #D4EED1;
  width: 50%;
  height: 200px;
  text-align: center;
  justify-self: center;
  border-collapse: collapse;
  margin-top: 5px;
}
table.Calculadora td, table.Calculadora th {
  border: 1px solid #24943A;
  
}
table.Calculadora tbody td {
  font-size: 20px;
  font-weight: bold;
    width: 30px;
    max-height: 30px;

}
table.Calculadora tfoot td {
  font-size: 13px;
        /* width: 20px;
        max-height: 20px; */
}
table.Calculadora tfoot .links {
  text-align: right;
}
table.Calculadora tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #24943A;
  padding: 2px 8px;
  border-radius: 5px;
}