<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />


</head>
<body>

<section class="section banner banner-section">
    <div class="container">

        <div class="login-card padding-horizontal--48">

            <h2>Crear un Nuevo Usuario</h2>

            <br>

            <form class="formulario-form" th:action="@{/usuarios/save}" th:object="${usuario}" method="post">

                <div class="field">
                    <label>Nombre</label>
                    <input type="text" th:field="*{nombre}" placeholder="Ingrese nombre" required>
                </div>

                <div class="field">
                    <label>Apellido</label>
                    <input type="text" th:field="*{apellido}" placeholder="Ingrese apellido" required>
                </div>

                <div class="field">
                    <label>Nro. Cédula</label>
                    <input type="number" th:field="*{nroCedula}" placeholder="Ingrese cédula" required>
                </div>

                <div class="field">
                    <label>Correo</label>
                    <input type="email" th:field="*{correo}" placeholder="Ingrese correo" required>
                </div>

<!--                <div class="field">-->
<!--                    <label>ID Rol</label>-->
<!--                    <input type="number" th:field="*{idRol}" required>-->
<!--                </div>-->

                <div class="field">
                    <label for="rol">Rol</label>
                    <select id="rol" th:field="*{idRol}" required>
                        <option value="" selected>Seleccione un cargo</option>
                        <option th:each="rol : ${listaRoles}"
                                th:value="${rol.idRol}"
                                th:text="${rol.nombre}">
                        </option>
                    </select>

                </div>

                <div class="field">
                    <label>Fecha Ingreso</label>
                    <input type="date" th:field="*{fechaIngreso}" required>
                </div>

<!--                <div class="field">-->
<!--                    <label>Antigüedad</label>-->
<!--                    <input type="text" th:field="*{antiguedad}">-->
<!--                </div>-->

                <div class="field">
                    <label>Días Vacaciones</label>
                    <input type="number" th:field="*{diasVacaciones}">
                </div>

                <div class="field">
                    <label>Estado</label>
                    <input type="checkbox" th:field="*{estado}">
                </div>

                <div class="field">
                    <label>Contraseña</label>
                    <input type="password" th:field="*{contrasena}" placeholder="Ingrese contraseña" required>
                </div>

                <div class="field">
                    <label>Teléfono</label>
                    <input type="text" th:field="*{telefono}">
                </div>

                <div class="field">
<!--                    <label>ID Equipo</label>-->
<!--                    <input type="number" th:field="*{idEquipo}">-->
                    <label for="equipo">Equipo</label>
                    <select id="equipo" th:field="*{idEquipo}" required>
                        <option value="" selected>Seleccione un cargo</option>
                        <option th:each="equipo : ${listaEquipos}"
                                th:value="${equipo.idEquipo}"
                                th:text="${equipo.nombre}">
                        </option>
                    </select>

                </div>

                <div class="field">
<!--                    <label>ID Cargo</label>-->
<!--                    <input type="number" th:field="*{idCargo}">-->

                    <label for="cargo">Cargo</label>
                    <select id="cargo" th:field="*{idCargo}" required>
                        <option value="" selected>Seleccione un cargo</option>
                        <option th:each="cargo : ${listaCargos}"
                                th:value="${cargo.idCargo}"
                                th:text="${cargo.nombre}">
                        </option>
                    </select>

                </div>

                <div class="field">
                    <label>Fecha Nacimiento</label>
                    <input type="date" th:field="*{fechaNacimiento}">
                </div>

<!--                <div class="field">-->
<!--                    <label>Días Vacaciones Restante</label>-->
<!--                    <input type="number" th:field="*{diasVacacionesRestante}">-->
<!--                </div>-->

<!--                <div class="field">-->
<!--                    <label>¿Requiere cambio de contraseña?</label>-->
<!--                    <input type="checkbox" th:field="*{requiereCambioContrasena}">-->
<!--                </div>-->

                <div class="padding-top--12">
                    <button class="btn btn-darken btn-inline menu-btn" type="submit">
                        Guardar Usuario
                    </button>
                </div>

            </form>
            <br>
            <a class="btn btn-darken btn-inline"
               href="/">
                VOLVER
            </a>

        </div>

    </div>
</section>


<!--<script src="./js/script.js"></script>-->
</body>
</html>