<!DOCTYPE html>
<html lang="en">
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="./css/styles.css?v=1" />
</head>
<body>


<!--    <h3 th:text="${mensaje}"></h3>-->

<!--    <a href="/usuarios"> ADMINISTRAR USUARIOS </a>-->
    <br>
    <br>
    <br>

    <div class="container">

        <div class="menu-central-card padding-horizontal--48">

            <h1 style="align-self: center"> CRUD DB VACAS</h1>

            <a href="/usuarios" class="btn btn-menu-a btn-inline menu-btn"> VER USUARIOS </a>

            <a th:href="@{/usuarios/nuevo}" class="btn btn-menu-a btn-inline menu-btn"> CREAR USUARIO </a>

            <a href="/usuarios" class="btn btn-menu-a btn-inline menu-btn"> BUSCAR USUARIO POR ID </a>

            <a href="/usuarios" class="btn btn-menu-a btn-inline menu-btn"> MODIFICAR USUARIO </a>

            <a href="/usuarios" class="btn btn-menu-a btn-inline menu-btn"> ELIMINAR USUARIO </a>

            <!--            <form class="formulario-form" action="login" method="post">-->
<!--                <div class="field">-->
<!--&lt;!&ndash;                    <label for="username">Username</label>&ndash;&gt;-->
<!--                    <input type="text" name="username" placeholder="Enter your username" required="">-->
<!--                </div>-->
<!--                <div class="field">-->
<!--&lt;!&ndash;                    <label for="password">Password</label>&ndash;&gt;-->
<!--                    <input type="password" name="password" placeholder="Enter your password" required="">-->
<!--                </div>-->

<!--                <div class="padding-top&#45;&#45;12">-->
<!--                    <button class="btn btn-darken btn-inline menu-btn" type="submit">-->
<!--                        Login-->
<!--                    </button>-->
<!--                </div>-->

<!--            </form>-->

        </div>

    </div>


</body>
</html>