<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administrar Usuarios</title>
    <link rel="stylesheet" href="./css/styles.css?v=1" />

    <style>
        table {
            width: auto;
            border-radius: 4px;
            box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
        }

    </style>

</head>
<body>

<section class="section banner banner-section">
    <div class="container centrar">
        <div class="centrar">
            <h2> ADMINISTRAR USUARIOS</h2>
        </div>
        <br>
        <div>
            <table>
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Nro Cedula</th>
                    <th>Correo</th>
                    <th>Ingreso</th>
                    <th>Dias Vac.</th>
<!--                    <th>estado</th>-->
                    <th>Telef</th>
                    <th>Nacimiento</th>
                    <th>Vac. Restantes</th>
                </tr>
                </thead>
                <tbody>

                <th:block th:each="user : ${listUsers}">
                    <tr>
                        <td>[[${user.nombre}]]</td>
                        <td>[[${user.apellido}]]</td>
                        <td>[[${user.nroCedula}]]</td>
                        <td>[[${user.correo}]]</td>
                        <td>[[${user.fechaIngreso}]]</td>
                        <td>[[${user.diasVacaciones}]]</td>
<!--                        <td>[[${user.estado}]]</td>-->
                        <td>[[${user.telefono}]]</td>
                        <td>[[${user.fechaNacimiento}]]</td>
                        <td>[[${user.diasVacacionesRestante}]]</td>
                    </tr>

                </th:block>
                </tbody>
            </table>

            <br>

            <div class="boton-centrado">
                <a class="btn btn-darken"
                   href="/">
                    VOLVER
                </a>
            </div>


        </div>

    </div>

</section>

</body>
</html>