html {
  height: 100%;
  width: 100%;
}
body{
    background-color: #11161c;
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', sans-serif;
}
.tabla {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px;
  margin: auto;
  margin-bottom: 50px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #5fbdd3;
  background-color: #8bfff9;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
}
.box:hover{
    background-color: #5fbdd3;
}
h1{
  text-align: center;
  color: #8bfff9;
  border-radius: 5px;
  font-size: 50px;
  font-family: 'Segoe UI', sans-serif;
  align-items: center;
  width: 300px;
  margin: auto;
  background-color: #21424c;
  justify-content: center;
  margin-bottom: 50px;
}
button{
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: #8bfff9;
  display: flex;
}

button:hover{
  background-color: #5fbdd3;
}

.result{
  text-align: center;
  border-radius: 5px;
  font-size: 50px;
  font-family: 'Segoe UI', sans-serif;
  align-items: center;
  width: 300px;
  margin: auto;
  background-color: #8bfff9;
  justify-content: center;
  margin-bottom: 50px;
  font-weight: bold;
  color: #21424c;
}


.Boton{
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Segoe UI', sans-serif;
  align-items: center;
  width: 300px;
  margin: auto;
  background-color: #21424c;
  justify-content: center;
  margin-bottom: 50px;
  color: #8bfff9;
  font-weight: bold;
}